<h1>About</h1>

<hr />
<br />

<h1>Quan Minh Nguyen (Luke) - Junior Web Developer</h1>
<p>
  <strong>Email </strong>
  <a href="mailTo:nguyenminhquan061101@gmail.com" class="text-highlight"
    >nguyenminhquan061101@gmail.com</a
  >
</p>
<p>
  <strong>GitHub </strong>
  <a href="https://github.com/mqnguyen5" class="text-highlight">mqnguyen5</a>
</p>

<br />

<h1>Skills</h1>
<p><strong>JavaScript </strong> NodeJS, React, and Angular</p>
<p><strong>OOP </strong>C/C++, Java</p>
<p><strong>Database </strong>MongoDB, Oracle SQL</p>

<br />

<h1>Just for Fun</h1>
<p><strong>Sports </strong>Basketball</p>
<p><strong>Music </strong> Playing finger-style guitar and singing</p>
<p><strong>Books </strong>Mythology, Sci-fi, and many, many more...</p>
